name: Publish

on:
    push:
        tags:
            - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
    publish:
        name: Publish
        runs-on: ubuntu-latest
        if: github.repository_owner == 'playcanvas'
        steps:
            - name: Check out code
              uses: actions/checkout@v5

            - name: Set up Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: 24.x
                  cache: 'npm'
                  registry-url: 'https://registry.npmjs.org/'

            - name: Install Dependencies
              run: npm ci

            - name: Install vsce
              run: npm install -g @vscode/vsce

            - name: Build PlayCanvas VS Code Extension
              run: npm run build

            - name: Publish VS Code Extension
              run: vsce publish -p ${{ secrets.VSCE_TOKEN }} -i playcanvas*.vsix
